/* 去掉目录栏的 gitbook 提示*/
.gitbook-link {
    display: none !important;
}

/** 对应 版本选择框的样式*/
.versions-select select {
    height: 2em;
    line-height: 2em;
    border-radius: 0px;
    color:white;
    background: #000000;
}

/* 添加 todo 功能*/
input[type=checkbox]{
    margin-left: -2em;
}

/*左侧菜单栏*/
.book-summary{
    background: #87b85f;
}

/*正文距离两侧*/
.page-inner{
   margin-left: 100px;
   margin-right:100px;
   max-width: 80%;
}
